@media screen and (max-width: 320px) {
    .containerproducts {
        border: 2px solid red;
        height: 2027px;
        width: 320px;
        margin-top: 60px;
    }
}

@media screen and (max-width: 768px) and (min-width: 321px) {
    .containerproducts {
        border: 2px solid green;
        height: 794px;
        width: 768px;
        margin-top: 60px;
    }
}

@media screen and (min-width: 769px) {
    .containerproducts {
        border: 2px solid blue;
        height: 992px;
        width: 1200px;
        margin-top: 60px;
    }
}
p{
    text-align: center;
}